<div class="col-xs-6 col-xs-offset-3">
<%= render partial:"layouts/error_messages", locals: {book: @book} %>

<h1>Editing Book</h1>
<%= form_for(@book, url:"/books/#{@book.id}") do |f| %>
<h4><b>Title</b></h4>
<%= f.text_field :title %>
<h4><b>Opinion</b></h4>
<%= f.text_area :body %>
<br>
<%= f.submit "Update Book", class: "btn btn-primary btn-block"%>
<% end %>

<%=link_to "Show", book_path(@book.id) %>
<span>|</span>
<%=link_to "Back", books_path %>

</div>