
    <div class="row">
    	<div class="col-xs-3">
			<%= render partial:"users/user_profile", locals: {user: @user} %>

			<%= render partial:"new" %>
		</div>

        <div class="col-xs-9">
			<h1>Book detail</h1>
			<table class="table">
			<tbody>
			<tr>
				<td>
				  <%= link_to user_path(@book.user_id) do %>
				  <%= attachment_image_tag @book.user, :profile_image,format: 'jpeg', fallback: "no_image.jpg", size:"50x50" %>
				  <% end %>
				  <br>
				   <%= link_to user_path(@book.user_id) do %>
				   <%= @user.name %>
				   <% end %>
				</td>
				<td>
				   <%= @book.title %>
				</td>
				<td>
				   <%= @book.body %>
				</td>

				<% if @user.id == current_user.id %>
				　<td>
					<%=link_to edit_book_path(@book.id) do %>
					<button class="btn btn-success">Edit</button>
			        <% end %>
				  </td>
				　<td><%=link_to destroy_books_path(@book.id), method: :delete,"data-confirm" => "本当に消しますか?" do %>
					<button class="btn btn-danger">Destroy</button>
			        <% end %>
				  </td>
				<% end %>
			</tr>
			</tbody>
		</table>
		</div>
	</div>